:root {
    --primarycolor: #612975;
    --primarytextcolor: #612975;
    --primaryhovercolor: #845496;
    --secondarycolor: #f5e9f8;
    --secondarytextcolor: #f5e9f8;
    --spacingparaghafy: 1.6rem;
}

html {
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

/*--STEP01--*/
.header {
    font-size: var(--spacingparaghafy);
    display: flex;
    flex-direction: column;
}

.header-logo>img {
    display: block;
    margin: auto;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav>ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--primarycolor);
    margin: 0;
    color: var(--secondarytextcolor);
    padding: 0;
    width: 100%;
}

.header-nav>ul>li>a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 1.4rem 1.6rem;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

.header-nav>ul>li>a:hover {
    background-color: var(--primaryhovercolor);
}

/*--STEP02--*/
.heroBanner {
    background-color: var(--secondarycolor);
    text-align: center;
    padding-bottom: var(--spacingparaghafy);
    box-sizing: border-box;
}

.heroBanner>h1 {
    color: var(--primarycolor);
    text-align: center;
    margin: 0;
    padding: calc(var(--spacingparaghafy) * 2);
    box-sizing: border-box;
}

.heroBanner>p {
    margin: 0;
    text-align: center;
    display: block;
    color: var(--primaryhovercolor);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    line-height: 1.2;
    padding: 0 var(--spacingparaghafy) var(--spacingparaghafy);
    box-sizing: border-box;
}

.btn-heroBanner {
    display: inline-block;
    padding: 1rem var(--spacingparaghafy);
    text-decoration: none;
    color: var(--secondarytextcolor);
    border-radius: 5px;
    background-color: hsl(204, 50%, 50%);
    font-size: var(--spacingparaghafy);
}

/*--STEP03--*/
.infoHotel {
    background-color: var(--secondarycolor);
    text-align: center;
    padding-top: var(--spacingparaghafy);
    box-sizing: border-box;
}

h2 {
    text-transform: uppercase;
    color: var(--primarytextcolor);
    letter-spacing: .1rem;
    margin: 0;
    padding: var(--spacingparaghafy) 0 var(--spacingparaghafy);
    box-sizing: border-box;
}

.infoHotel p {
    color: var(--primarytextcolor);
    padding: 0 var(--spacingparaghafy) var(--spacingparaghafy);
    box-sizing: border-box;
    font-size: 1.4em;
    line-height: 1.35;
    letter-spacing: .1rem;
    margin: 0;
}

/*step grid's 3*/
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.col {
    flex: 1 0 auto;
    width: 100%;
}

.col4 {
    width: 100%;
}

/*step 4*/
.container-main {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacingparaghafy);
    box-sizing: border-box;
}

.container-main_img>img {
    display: block;
    max-width: 100%;
}

.container-main_description h3 {
    margin: 0;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--primarytextcolor);
    font-weight: 500;
    padding-top: var(--spacingparaghafy);
    box-sizing: border-box;
}

.container-main_description p {
    margin: 0;
    padding: var(--spacingparaghafy) 0;
    box-sizing: border-box;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    line-height: 1.15;
    color: var(--primarycolor);
}

.footer {
    background-color: rgb(24, 24, 24);
    color: var(--secondarytextcolor);
    text-align: center;
    padding: calc(var(--spacingparaghafy)*1.5);
}

@media screen and (min-width:40em) {

    /*--MEDIASTEP04--*/
    .container-main {
        flex-wrap: nowrap;
        gap: var(--spacingparaghafy);
    }

    .container-main_description h3 {
        padding-top: 0;
    }
}

@media screen and (min-width:48.75em) {

    /*--MEDIASTEP01--*/
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: .5rem;
        box-sizing: border-box;
    }

    .header-nav>ul {
        flex-direction: row;
        justify-content: center;
        color: var(--primarytextcolor);
        background-color: inherit;
        gap: var(--spacingparaghafy);
    }

    .header-nav>ul>li>a:hover {
        background-color: var(--secondarycolor);
    }

    /*--MEDIASTEP02--*/
    .heroBanner {
        background-color: var(--primarycolor);
        background-size: contain;
    }

    .heroBanner>h1 {
        padding-top: var(--spacingparaghafy);
    }

    .heroBanner>h1,
    .heroBanner>p {
        color: var(--secondarytextcolor);
        font-weight: 500;
    }

    .heroBanner-span::before {
        content: url(/images/icon_play.svg);
        display: inline-block;
        width: 5rem;
        height: 5rem;
        padding-top: var(--spacingparaghafy);
    }

    .heroBanner>p {
        line-height: 1.5;
    }

    /*--MEDIASTEP03--*/
    .col2 {
        width: calc(50% - 1rem);
    }

    /*--MEDIASTEP04--*/
    .container-main {
        flex-wrap: nowrap;
        gap: var(--spacingparaghafy);
    }

    .container-main_description h3 {
        padding-top: 0;
    }
}

@media screen and (min-width:62.5em) {

    /*--MEDIASTEP02--*/
    .heroBanner {
        background-image: url(/images/bg_topo_1198x670.jpg);
        background-size: cover;
        padding: 20rem 0 4em;
    }

    /*--MEDIASTEP03--*/
}

@media screen and (min-width:73.75em) {

    /*--MEDIASTEP01--*/
    .header {
        width: 73.75em;
        margin: 0 auto;
    }

    .header-nav>ul>li a {
        gap: 10em;
    }

    .header-nav>ul {
        gap: var(--spacingparaghafy);
    }

    /*--MEDIASTEP02--*/
    .heroBanner {
        background-image: url(/images/bg_topo_1600x1374.jpg);
        background-size: cover;
        padding: 20rem 0;
    }

    .heroBanner-span::before {
        content: url(/images/icon_play.svg);
        display: inline-block;
        width: 7.25rem;
        height: 7.25rem;
        padding-top: var(--spacingparaghafy);
    }

    .heroBanner>h1,
    .heroBanner>p {
        text-shadow: 0 1px 3px black;
    }

    .heroBanner>h1 {
        font-size: 2.6rem;
    }

    .heroBanner>p {
        font-size: 1.8rem;
    }

    /*--MEDIASTEP03--*/
    .infoHotel-container {
        padding-top: calc(var(--spacingparaghafy) * 1.5);
    }

    .infoHotel-container p {
        font-size: 1.8rem;
    }

    .infoHotel-container h2 {
        font-size: 2.4rem;
    }

    .col4 {
        width: calc(25% - 1rem);
    }

    /*step4*/
    .col-2 {
        width: calc(50% - 1rem);
    }


}